Generated gitignore
# Byte-compiled / optimized / C extensions
__pycache__/
*.pyc

# Virtual Environments
face_mask_detection_venv/
.env

# IDE and OS files
.vscode/
.idea/
.DS_Store

# DVC cache - THE MOST IMPORTANT ONE
# This is where DVC stores the actual large files.
# We want Git to IGNORE this.
.dvc/cache
.dvc/tmp
.dvc/plots

# Large data and model files
# DVC will manage these automatically for you.
data/raw/
data/processed/
models/
reports/
mlruns/
